<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  	<!-- Springmvc配置文件开始  -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> 


  <servlet>
  	<servlet-name>CityServlet</servlet-name>
  	<servlet-class>com.ajax.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AngularjsCityServlet</servlet-name>
  	<servlet-class>com.ajax.angularjsCityServlet.AngularjsCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CityServlet</servlet-name>
  	<url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AngularjsCityServlet</servlet-name>
  	<url-pattern>/angularjsCityServlet</url-pattern>
  </servlet-mapping>
</web-app>
